@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
     ulica<br />
    fajna, GD 88-589<br />
    <abbr title="Phone">P:</abbr>
 000 000 000</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">s12596@pjwstk.edu.pl</a>
</address>